button {
    background-color: #005bb7;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 4px;
  }
  
  button:hover {
    background-color: #003366;
  }
  
  button:disabled {
    background-color: #c8c8c8;
    color: #686868;
    cursor: auto;
  }