<!--

<div class="container">
  <div class="row">
    <div class="col-sm">
      <form [formGroup]="radioGroupForm">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="choice">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="1">Option 1
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="2">Option 2
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="3">Option 3
          </label>
        </div>
      </form>
    </div>
    <div class="col-sm">
      <pre>{{radioGroupForm.value['choice']}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="submitChoice()">Submit Choice</button>
    </div>
    <div class="col">
      {{message}}
    </div>
  </div>
</div>

-->

<div class="container">
  <div class="row">
  <div class="col">
      <button (click)="encounterMonster()" [disabled]="oppMonsterStatus == 1 || oppMonsterStatus == 2">Encounter a monster</button>
      <button (click)="runAway()" [disabled]="oppMonsterStatus != 1">Run away</button>
      <button (click)="throwMonsterBall()" [disabled]="oppMonsterStatus != 1">Throw MonsterBall</button>
  </div>
  <div class="col">
    <div *ngIf="message">
      {{message}}
    </div>
  </div>

</div>


<!--
  <div class="col">
      <div *ngIf="monsterTypeId >= min && monsterTypeId <= max; else noMonster">
        There is a monster.
      </div>
  </div>
<ng-template #noMonster>
  There is no monster.
</ng-template>
-->
